@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f5fc;
  --foreground: #33383cff;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  .footer-subhead-wrapper {
    margin-bottom: 1rem;
  }
  display: flex;
  flex-wrap: wrap;
  .list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-contact-container {
    width: -webkit-fill-available;
  }

  .social-container,
  .education-container,
  .experience-container {
    width: 100%;
  }
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: marquee 24s linear infinite;
}

.marquee p {
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@media (min-width: 1280px) {
  .education-container {
    width: 60%;
  }

  .experience-container {
    width: 40%;
  }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .footer-contact-container {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .footer-feedback-container {
      grid-column-end: -1;
      max-width: 600px;
      margin-top: 1rem;
    }

    .footer-feedback-container,
    .education-container {
      grid-column-start: 4;
    }

    .education-container {
      grid-column-end: 6;
    }

    .experience-container {
      grid-column-start: 6;
      grid-column-end: 8;
    }

    .social-container {
      grid-column-start: 8;
      grid-column-end: -1;
    }

    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    h5,
    span {
      color: var(--Text-Color, #ffffff);
      font-size: 1.5rem;

      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.05rem;
    }
    ul h5 {
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 1536px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    .footer-contact-container {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .education-container {
      grid-column-start: 4;
      grid-column-end: 6;
    }

    .experience-container {
      grid-column-start: 6;
      grid-column-end: 8;
    }

    .social-container {
      grid-column-start: 8;
      grid-column-end: -1;
    }

    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
    ul h5 {
      margin-bottom: 1rem;
    }
  }
}

$black: black;
$white: white;

.nav-anim {
  transform: translate(0px, -130%);

  // position: absolute;
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
  width: 40px;
  height: 20px;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.counter p {
  position: relative;
  display: block;
  transform: translateY(20px);
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  will-change: transform;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  scale: 0.7;
  background-color: #efefef;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);

  z-index: 1000;
}

.landing-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  // background: black;
  overflow: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: calc(50% - 5vw);
  left: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  z-index: 1;
  * {
    margin: auto !important;
  }
}

.header-img {
  position: absolute;
  width: 100%;
  top: calc(50% - 5vw);
  left: 0;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  z-index: 1;
  * {
    margin: auto !important;
  }
}

.header h1 {
  font-size: 10vw;
  font-weight: lighter;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.header h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(500px);
}

.hero-img {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

  position: absolute;
  bottom: 0;
  width: 100%;
  // height: 5vh;
  overflow: hidden;
  height: 100%;

  z-index: 0;
}

.hero-img img {
  transform: scale(0.5);
  margin: auto;
  height: 100%;
}

.curve {
  position: relative;

  svg,
  .background {
    position: fixed;
    z-index: 9999; // very high to cover all
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
  }

  .background {
    background-color: black;
    transition: opacity 0s linear 0.1s;
  }

  .route {
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 46px;
    transform: translateX(-50%);
    text-align: center;
  }

  .content {
    position: relative;
    z-index: 0; // ensures it's under the overlay
  }
}

body.transitioning {
  overflow: hidden;
}
.navbar {
  * {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 400;
    // color: white;
  }
}

.mega-menu {
  ul li a {
    color: #33383cff;
  }
}

.filter-nav {
  * {
    font-size: 0.75rem;
  }
}

.footer-container li {
  font-size: 0.75rem;
}

@media (min-width: 1024px) {
  .navbar {
    * {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 400;
      color: white;
    }
  }
}
